/******************************************
/* CSS by Jennie
/ ****** There be dragons ahead ****** /
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/
html {
  font-size: 62.5%;
}

body {
  /*font-family: 'Diplomata',Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Advent Pro', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
  background: rgb(53, 46, 46);
  color: rgb(251, 226, 226);
  height: 100%;
}

.top {
  height: auto;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;

}

.topLeft,
.topRight {
  border-bottom: .5rem solid teal;
}

.middle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 1rem;
  margin-right: 1rem;
}

.topLeft,
.topCenter,
.topRight {
  display: flex;
}
.topCenter {
  width: 50%;
}
.topLeft,
.topRight {
  justify-content: center;
  align-items: center;
  width: 25%;
}
.fa-utensils {
  transform: rotate(-30deg);
}
.fa-martini-glass {
  transform: rotate(30deg);
}

h1 {
  font-family: "Trochut",Arial, Helvetica, sans-serif;
  font-size: 5.2rem;
  padding: 2%;
  margin: 0;
}

h2 {
  font-size: 4rem;
  font-family: "Zen Loop",Arial, Helvetica, sans-serif;
}


img {
   border-radius: 5rem;
}

.fa-solid {
  padding: .2rem;
  font-size: 5rem;
}

.middleCenter {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-start;
}
.directions {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.directions h2 {
  text-align: center;
  height: 100%;
}
h3 {
  font-size: 1.4rem;
}
.middleCenter img {
  width: 50%;
  padding: 2%;
}

.drinkListedIngredients,
.mealListedIngredients {
  height: auto;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
}

.notepaper {
  margin-top:0;
  box-shadow: 0 5px 14px rgba(0,0,0,.7);
  background-image: repeating-linear-gradient(rgb(217, 220, 221) 0px, rgb(217, 220, 221) 24px, teal 25px);
}
.headerStyling {
  background-image: linear-gradient(rgb(217, 220, 221) 0px, rgb(217, 220, 221) 30px, rgb(218, 113, 130) 31px,rgb(217,220,221) 34px);
  margin-bottom: 0;
  height: 34px;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-family: "Trochut",monospace;
  color:rgb(53, 46, 46);
}
.headerStyling::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.headerStyling::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

ul {
  padding-top: 4%;
  font-size: 1.8rem;
  font-family: "Advent Pro";
  min-height: 250px;
  color: teal;
  width: 100%;
}
li {
  padding: 2% 4% 1% 2%;
}
inputs {
  display: flex;
  justify-content: space-evenly;
}

input {
  background:rgb(251, 226, 226);
  height: 3rem;
  width: 150px;
  outline: 0;
  font-size: 2rem;
}

.userInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.middleLeft,
.middleRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  max-height: 70%;
  width: 20rem;
}

.buttonHole,
.inputHole {
  padding: 2.4rem;
}

button {
  background: teal;
  font-weight: bold;
  color: rgb(251, 226, 226);
  font-size: 2rem;
  padding: .2rem;
  width: 150px;
}

.randomButton {
  font-weight: 400;
  font-style: italic;
}

.bottom {
  padding-top: 4%;
  /* border-top: 2px teal solid ; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
}

.bottomSuggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3%;
}

section h2 {
  text-align: center;
}

.bottom img {
  width: 200px;
  height: fit-content;
  /* border: 1px solid teal; */
}
.instructions {
  display: flex;
}
.mealInstructionsShow,
.drinkInstructionsShow {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.mealInstructionSet,
.drinkInstructionSet {
  color: rgb(217, 220, 221);
}
.suggestionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*
/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
@media all and (max-width: 954px) {
  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top {
    margin: auto;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: hsla(0,7.1%,19.4%,1);
    color: hsla(0,75.8%,93.5%,1);
  }
}